html,
body {
  width: 100%;
  /* overflow-x: hidden; */
  overflow-y: hidden;
  background-color: black;
}

* {
  margin: 0;
  box-sizing: content-box;
  scroll-behavior: smooth;
}

img {
  object-fit: contain;
  width: inherit;
}

.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: auto;
  /* background: blue; */
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  z-index: 50;
  position: sticky;
  display: flow-root;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
}

.header {
  /* margin-bottom: 4rem; */
  margin: 1.5rem;
  font-family: "Archivo";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
}

.body-wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: auto;
  overflow-y: scroll;
}

.title {
  /* margin-bottom: 4rem; */
}

.gallery {
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 0;
  height: auto;
  width: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.gallery > div {
  margin: 0;
  padding: 0;
  height: auto;
  width: fit-content;
  overflow: hidden;
  display: block;
  position: relative;
  background-color: none;
}

.gallery-item-left {
  text-align: -webkit-left;
}

.gallery-item-right {
  align-self: end;
  text-align: -webkit-right;
}

.gallery-text {
  /* display: block; */
  display: inline-flex;
  position: relative;
  margin: 1rem;
  font-family: "Archivo";
  font-style: normal;
  font-weight: bold;
  color: whitesmoke;
  font-size: 4rem;
  bottom: 3.7rem;
  z-index: 5;
}

.gallery-item-right > .gallery-text {
  right: 0;
}

a {
  font-style: none;
  color: inherit;
  text-decoration: none;
  display: inherit;
}

.gallery-image {
  display: block;
  position: relative;
  /* text-align: center; */
  /* background-color: yellow; */
  width: 50vw;
  height: inherit;
}
