* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant-emoji: text;
}

@font-face{
  font-family: montserrat;
  src: url(/Montserrat-Regular.ttf);
}

/* @font-face{
  font-family: vendetta;
  src: url(fonts/Vendetta.otf);
}

@font-face{
  font-family: montserratBold;
  src: url(fonts/Montserrat-Regular.ttf);
}

@font-face{
  font-family: montserratItalics;
  src: url(fonts/Montserrat-LightItalic.ttf);
} */


/* width */
::-webkit-scrollbar {
width: 4px;
height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: blue;
border-radius: 2.5px;
height: 30px;
}

.disclaimer{
  display: none;
}

/* html{
  cursor: url(images/smiley.png), auto;
} */


body{
  background-color: white;
  font-family: 'montserrat';
}

h1{
  font-weight:600;
}

h5{
  font-weight: normal;
  background-color: blue;
  color: white;
  width: fit-content;
  padding: 2px 3px;
  margin-bottom: 5px;
}

p{
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.3rem;

}

sub{
  font-size: 0.7rem;
}

header{
  position: fixed;
  top: 20px;
  right: -1px;
  width: 200px;
  text-align: right;
  /* background-color: white; */
  float: right;
  text-align: right;
}

.right-nav{
  color: blue;
  font-size: 1.2em;
  font-weight: 100;
  padding: 5px 25% 5px 5px;
  margin: 10px;
  margin-right: 0px;
  display: block;
  border-color: blue;
  border-style: solid;
  border-width: 1px;
  font-family: 'vendetta';
  cursor: pointer;
  background-color: white;
}

.right-nav:hover {
  filter: blur(2px);
}

a{
  /* cursor: url(images/li.png), auto; */
  font-family: 'Times New Roman';
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.3rem;
}
a:link{
  color: blue;
  text-decoration: none;
}

a:visited{
  filter: blur(4px);
  color: blue;
  text-decoration: line-through;
}

a:hover{
  text-decoration: none;
  filter: blur(2px);
}



a:active{
  color: white;
  background-color: blue;
  text-decoration: none;
}


.pages{
  display: block;
  padding-left: 300px;
  padding-top: 100px;
  color: blue;
  padding-right: 300px;
  width: 100%;
  margin-bottom: 5vh;
}

.description{
  display:inline-block;
  position: fixed;
  width: 350px;
  z-index: 1;
  overflow: auto;
  height: 70%;
  padding-right: 10px;
}

.hypertext-text{
  columns: 2;
}

.extrainfo{
  display:inline-block;
  position: relative;
  left: 400px;
  width: 80%;
  z-index: 1;
  font-weight: bolder;
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content:center ; 
}
.extrainfo p{
  background-color: blue;
  color: white;
  padding: 2px 4px;
}

.projectimg{
  margin: 25px 0 0 400px;
  position: relative;
  display: block;
  box-shadow: 0px 0px 20px 2px blue;
  width: 80%;
  height: auto;
}

.hypertextcontainer{
  /* display: flex;
  flex-wrap:wrap;
  gap: 25px;
  margin-top: 50px;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 20px;
  margin-top: 50px;
  align-items: center;
}
.hypertextimg{
  box-shadow: 0px 0px 20px 2px blue;
}

.imgcontainer{
  margin: 25px 0 0 400px;
  position: relative;
  display: flex;
  width: 80%;
  height: auto;
  gap: 20px;
  justify-content: space-between;
}
.imgcontainer img{
  box-shadow: 0px 0px 20px 2px blue;
}


/* NAVIGATION CSS */
.content {
display: none
}
.icon{
  display: none;
}

.nav {
  display: block;
  margin: 10px;
  margin-left: 0px;
  padding: 5px 10px 5px 15%;
  border-style: solid;
  border-color: blue;
  border-width: 1px;
  width: 225px;
  /* background-color: white; */
  font-size: 1.2em;
  word-wrap: break-word;
  z-index: 10;
  color: blue;
  cursor: pointer;
  font-family: 'Times New Roman';
  font-size: 1.2rem;
  font-style: italic;
  /* text-decoration: underline; */
}

.nav:active {
  background-color: blue;
  color: white;
}

.nav:hover{
  filter: blur(2px);
}

.navigation {
  padding: 40px;
  padding-left: 0;
  width: 20%;
  position: fixed;
  top: 25%;
  display: inline-block;
  border: 1px blue;
}

.cv-grid{
  display: grid;
  grid-template-columns: 110px auto;
  row-gap: 15px;
}


@media (max-width: 900px){
  .description{
    position:relative;
    width: 100%;
    height: auto;
}
.hypertext-text{
  columns: 1;
}
.pages{
  padding-right: 50px;
}

.extrainfo{
  left: 0px;
  width: 100%;
}
.extrainfo p{
  max-width: 80%;
}
.projectimg{
  margin: 25px 0 0 0px;
  width: 100%;
}

.hypertextcontainer{
  gap: 15px;
}

.imgcontainer{
  margin: 25px 0 0 0px;
  width: 100%;
}

.cv-grid{
  display: grid;
  grid-template-columns: auto;
  row-gap: 0px;
}

.cv-grid-first{
  text-decoration: underline;
  margin-bottom: 4px;
  text-underline-offset: 4px;
}
.cv-grid-second{
  margin-bottom: 15px;
}

}






@media (max-width: 600px){
  
  body{
      max-width: 100vw;
      width: 100vw;
      /* height: 100vh; */
  }
  
  header{
      position: fixed;
      top: 10px;
      right: -1px;
      width: 35vw;
      text-align: right;
      background-color: transparent;
      float: right;
      text-align: right;
      height: 2.5rem;
      z-index: 500;
  }
  .right-nav{
      color: blue;
      font-size: 1.4em;
      font-weight: 100;
      padding: 2px 5vw 2px 2px;
      margin: 5px;
      margin-right: 0px;
      display: block;
      border-color: blue;
      border-style: solid;
      border-width: 1px;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: end;
      background-color: white;
      z-index: 500;
      position: relative;
  }
  .pages{
      display: block;
      padding-left: 5vw;
      padding-top: 20vh;
      color: blue;
      padding-right: 5vw;
      width: 95vw;
      z-index: -1;
      margin-bottom: 8vh;
  }
  .description{
      position: relative;
      width: 90vw;
      z-index: 0;
      height: 100%;
      padding-right: 10px;
  }
  .nav {
      display: block;
      /* height: 2rem; */
      margin: 5px;
      margin-left: 0px;
      padding: 2px 2px 4px 5px;
      border-style: solid;
      border-color: blue;
      border-width: 1px;
      min-width: 50vw;
      background-color: white;
      font-size: 1.4em;
  }
  .nav:hover{
  filter: none;
}
.nav:active{
  background-color: blue;
  color: white;
}

  .navigation {
      padding: 0;
      width: 40%;
      position: fixed;
      /* top: -400px; */
      left: 5vw;
      border: 1px blue;
      z-index: 20;
      transition: top 0.5s;
      height: fit-content;
  }
  .icon{
      display: flex;
      align-items: center;
      position: fixed;
      font-family: "Times New Roman";
      color: blue;
      height: 2.5rem;
      margin: 5px;
      margin-left: -1px;
      padding: 0px 0px 0px 30px;
      line-height: 1.9rem;
      border-style: solid;
      border-color: blue;
      border-width: 1px;
      min-width: 40vw;
      background-color: white;
      font-size: 1.4em;
      top: 10px;
      cursor: pointer;
      z-index: 1000;
  }
    .icon:active {
    background-color: blue;
    color: white;
    }

.icon:hover{
  filter: none;
}
.right-nav:hover {
  filter: none;
}
.extrainfo{
  left: 0px;
  width: 100%;
}
.extrainfo p{
  max-width: 80%;
}
  .projectimg{
      margin: 3vh 2vh 3vh 2vh;
      position: initial;
      display: block;
      box-shadow: 0px 0px 20px 2px blue;
      max-width: 80vw;
  }

}